/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*{
    --color-theme: #a1a1a1;
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;
    color: var(--color-theme);

}
#tv-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    pointer-events: none;
}
.tv-line{
    mix-blend-mode: difference;
}
body{
    background-image: radial-gradient( closest-corner, #604c4c, #1a1414, black);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
#title{
    font-size: 6em;
    text-align: center;
    justify-content: center;
    margin: 0;
}
#console{
    background-color: black;
    align-self: center;
    justify-self: center;
    width: 70vw;
    border: 5px solid var(--color-theme);
    overflow-x: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 15px black;

    transition: all;
    transition-duration: 500ms;
}
#console:hover{
    box-shadow: 10px 10px 15px black;
}
#bob-effect{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    width: 70vw;
    position: absolute;
    height: 40vh;
    z-index: 1;
    pointer-events: none;
}
#logs{
    height: 60vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-end;*/
    overflow-y: scroll;

    animation: normal;
    transition: all;
    animation-duration: 500ms;
    transition-duration: 500ms;
}

#input-box{
    display: flex;
    border-top: 3px solid var(--color-theme);
    padding: 5px;
}
#input{
    margin-left: 1vw;
}
.log{
    flex-basis: 2%;
    flex-shrink: 0;

    margin: 0;
    margin-left: 1vw;
    text-wrap: normal;
    cursor: pointer;

    animation: normal;
    transition: all;
    animation-duration: 250ms;
    transition-duration: 250ms;
}
.white:hover{
    background-color: #ff0000;
}
.red{
    color: red;
    text-shadow: 0px 0px 10px #ff7171;
    /*text-shadow: 3px 3px #3a3a3a;*/
}
.red:hover{
    background-color: #545454;
}
.gray{
    color: gray;
    /*text-shadow: 0px 0px 5px gray;*/
    /*text-shadow: 3px 3px #3a3a3a;*/
}
.gray:hover{
    background-color: #5e0000;
}

/* COMMAND HIGHLIGHTER */

* p{
    --color-all: #a6ffe7;
    --color-global: var(--color-all);
    --color-specifics: var(--color-all);
    --color-file: #2f53b9;
    --color-dir: #ffee99;
    --color-glow: rgba(187, 235, 255, 0);

    animation: normal;
    transition: all;
    animation-duration: 250ms;
    transition-duration: 250ms;
}

.global{
    color: var(--color-global);
    text-shadow: 0px 0px 10px var(--color-global);
    background-image: radial-gradient(circle, var(--color-glow), rgba(0, 0, 0, 0));
}
.specific-command{
    color: var(--color-specifics);
    text-shadow: 0px 0px 10px var(--color-specifics);
}
.file{
    color: var(--color-file);
    text-shadow: 0px 0px 5px var(--color-file);
}
.directory{
    color: var(--color-dir);
    text-shadow: 0px 0px 10px var(--color-dir);
}