*{
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;
    color: #c5c5c5;
    text-shadow: 3px 3px #3a3a3a;
}
#tv-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    pointer-events: none;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
}
#title{
    font-size: 6em;
    text-align: center;
    justify-content: center;
    margin: 0;
    text-shadow: 0px 0px 10px white;
}
#console{
    align-self: center;
    justify-self: center;
    width: 70vw;
    border: 5px solid #c5c5c5;
    box-shadow: 0px 0px 20px white;
    overflow: hidden;
}
#logs{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#input-box{
    display: flex;
    border: 3px solid #c5c5c5;
    padding: 5px;

}
.log{
    margin: 0;
    margin-left: 1vw;
    text-wrap: normal;
}
.red{
    color: red;
    text-shadow: 0px 0px 10px #ff7171;
    text-shadow: 3px 3px #3a3a3a;
}
.gray{
    color: gray;
    text-shadow: 0px 0px 5px gray;
    text-shadow: 3px 3px #3a3a3a;
}
