:root{
    --theme: white;
    --theme-hover: rgb(255, 171, 171);
}
*{
    
    color: white;
    background-color: black;
    font-family: 'Comic Neue', cursive;
}
#home{
    position:fixed;
    top: 0px;
    left: 0px;
    border: 2px solid var(--theme);
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    cursor: pointer;
    z-index: 2;

    transition: all;
    transition-duration: 500ms;
}
#home:hover{
    box-shadow: 3px 3px 0px var(--theme-hover);
    border: 2px solid var(--theme-hover);
}
/* -----------------------------MAIN---------------------------- */
#div-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#div-buttons{
    margin-top: -2vh;
}
#div-buttons *{
    margin: 5vh;
    padding: 1vh;
    padding-left: 3vw;
    padding-right: 3vw;
    border: 2px solid var(--theme);
    text-align: center;
    cursor: pointer;

    transition: all;
    transition-duration: 500ms;
}
#div-buttons *:hover{
    box-shadow: 5px 5px 0px var(--theme-hover);
    border: 2px solid var(--theme-hover);
}
/* -----------------------------GAME---------------------------- */
#game{
    display: none;
    align-self: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
}
#game-text{
    align-self: center;
    text-align: center;
    margin-top: 40vh;
}
/* -----------------------------PROFILE---------------------------- */
#profile{
    display: none;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}
#validate{
    border: 2px solid var(--theme);
    padding: 1vh;
    width: 25vw;
    text-align: center;
    justify-self: center;
    cursor: pointer;
}
/* -----------------------------SAVE---------------------------- */
#save{
    display: none;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height: 25vh;
    width: 50vw;
    position: absolute;
    top: 37.5vh;
    left: 25vw;
    text-align: center;
    border: 2px solid var(--theme);
    border-radius: 5px;
}
#save-X{
    align-self: flex-end;
    margin-right: 3vw;
    cursor:pointer;

}
#save-div{
    margin-top: -6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gen-save, #load-save-text{
    margin: 1vh;
    padding: 1vh;
    padding-left: 3vw;
    padding-right: 3vw;
    border: 2px solid var(--theme);
    text-align: center;
    cursor: pointer;
    width: 60%;

    transition: all;
    transition-duration: 500ms;
}
#gen-save:hover, #load-save-text:hover{
    box-shadow: 0px 0px 5px var(--theme-hover);
    border: 2px solid var(--theme-hover);
}
/* ----------------------------------------Battle Pass------------------------------------------ */
#battle-pass{
    display: none;

    text-align: center;
}
#bp-bounds{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.level{
    width: 14vw;
    height: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--theme);
}
.level-square{
    border: 2px solid var(--theme);
    border-radius: 15px;
    height: 7vh;
    width: 7vh;
    display: block;
    margin-right: 5vw;
    cursor: pointer;

    transition: all;
    transition-duration: 500ms;
}
.level-square:hover{
    height: 8vh;
    width: 8vh;
}